@import '/src/colors.scss';
@import '/src/fonts.scss';

.game {
  width: 100%;
  height: 100vh;
  background:  linear-gradient(to bottom right, rgb(22, 11, 26), rgba(255, 192, 203, 0.342)), url('../assets/img/compress/background_3.jpeg');
  background-size: cover;
  background-position: 0 0px;
  background-repeat: no-repeat;

  @media (max-width: 768px) {
    background-repeat: repeat;
  }
}

.start-menu {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: appear 1s;

    h1 {
      color: white;
      text-shadow: black 1px 0 10px;
      font-size: 2rem;
    }
  }

  button {
    padding: 1rem 1rem;
    width: 10rem;
    text-align: center;
    margin: 0;
    outline: none;
    background-color: $color-01;
    color: white;
    font-weight: 500;
    letter-spacing: 3px;
    font-family: $font-normal;
    border: none;
    margin-top: 1rem;
    border-radius: 5px;
    animation: appear 1s;

    &:hover, &:active {
      background-color: $color-02;
      box-shadow: 0 0 3px 2px rgba(252, 252, 252, 0.24);
      cursor: pointer;
    }
  }
}

.choice-menu {
  padding: 1.75rem 1.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    animation: appear 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

    h1 {
      color: white;
      font-size: 2rem;
    }

    img {
      margin-left: 1rem;
    }
  }

  &--list {
    animation: appearTwo 1s;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 1fr);
      background-repeat: repeat;
      height: calc(100vh - 11rem);
      overflow: auto;
    }

    &__item {
      cursor: pointer;
      overflow: hidden;
      position: relative;
      gap: 1rem;
      margin: 1rem;
      width: 140px;
      height: 140px;

      img {
        width: 100%;
        transition: all 0.5s;
        box-shadow: 0 0 0 5px black;
      }

      .caption {
        position: absolute;
        top: 0;
        left: 0;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-color: black;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        flex-direction: column;
        opacity: 0;
        transition: all 0.5s;

        h1 {
          font-weight: 500;
          letter-spacing: 2px;
        }
      }

      &:hover, &:active {
        .caption {
          opacity: 1;
          background-color: rgba(0, 0, 0, 0.5);
        }

        img {
          transform: scale(1.3);
        }
      }
    }
  }
}

.playing-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.75rem 1rem;
  animation: appear 1s;

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

    h1 {
      color: white;
      font-size: 2rem;
    }

    img {
      margin-left: 1rem;
    }
  }

  &--loading {
    width: 200px;
    height: 200px;
    margin-top: 2rem;
    animation: loader 2s infinite;
    filter: blur(2px);
    border-radius: 50%;
  }
}

.reveal-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.75rem 1rem;
  animation: appear 1s;

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

    h1 {
      color: white;
      font-size: 2rem;
    }

    img {
      margin-left: 1rem;
    }
  }

  &--body {
    animation: appear 1s;
    display: flex;
    justify-content: center;

    &__item {
      cursor: pointer;
      overflow: hidden;
      position: relative;
      gap: 1rem;
      margin: 1rem;
      width: 300px;
      height: 300px;
      border-radius: 10px;
      box-shadow: 0 0 10px black;

      img {
        width: 100%;
        transition: all 0.5s;
        box-shadow: 0 0 0 5px black;
      }

      .caption {
        position: absolute;
        top: 0;
        left: 0;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-color: black;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        flex-direction: column;
        opacity: 0;
        transition: all 0.5s;

        h1 {
          font-weight: 500;
          letter-spacing: 2px;
        }
      }

      &:hover, &:active {
        .caption {
          opacity: 1;
          background-color: rgba(0, 0, 0, 0.5);
        }

        img {
          transform: scale(1.3);
        }
      }
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appearTwo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes loader {
  0%{ background-image: url("../assets/img/compress/daniela_150x150-min.png"); background-size: cover; background-repeat: no-repeat;}
  10%{ background-image: url("../assets/img/compress/laura_prado-min.png"); background-size: cover; background-repeat: no-repeat;}
  20%{ background-image: url("../assets/img/compress/eri-min.png"); background-size: cover; background-repeat: no-repeat;}
  30%{ background-image: url("../assets/img/compress/paula-min.png"); background-size: cover; background-repeat: no-repeat;}
  40%{ background-image: url("../assets/img/compress/maleja-min.png"); background-size: cover; background-repeat: no-repeat;}
  50%{ background-image: url("../assets/img/compress/maria_claudia-min.png"); background-size: cover; background-repeat: no-repeat;}
  60%{ background-image: url("../assets/img/compress/sara-min.png"); background-size: cover; background-repeat: no-repeat;}
  70%{ background-image: url("../assets/img/compress/laura_serna-min.png"); background-size: cover; background-repeat: no-repeat;}
  80%{ background-image: url("../assets/img/compress/laura_prado-min.png"); background-size: cover; background-repeat: no-repeat;}
  90%{ background-image: url("../assets/img/compress/daniela_150x150-min.png"); background-size: cover; background-repeat: no-repeat;}
  100%{ background-image: url("../assets/img/compress/Nata-min.png"); background-size: cover; background-repeat: no-repeat;}
}
